.swiper-skillset .swiper-button-prev,
.swiper-skillset .swiper-button-next {
  color: var(--color-primary);
  background-color: #2121214D;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  top: 180px;
}

.swiper-skillset .swiper-button-prev {
  left: 0;
}

.swiper-skillset .swiper-button-next {
  right: 0;
}

.swiper-skillset .swiper-button-prev::after,
.swiper-skillset .swiper-button-next::after {
  font-size: 1.2rem;
}

@media (min-width: 1024px){
  .swiper-skillset .swiper-slide {
    opacity: 0.5;
    scale: 0.7;
  }

  .swiper-skillset .swiper-slide-active {
    opacity: 1;
    scale: 1;
  }

  .swiper-skillset .swiper-button-prev,
  .swiper-skillset .swiper-button-next {
    top: 200px;
  }
}
