@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #27AE60;
  --color-blackprimary: #161513;
  --color-blacksecondary: #1C1C22;
  --color-whiteprimary: #F0F2F5;
  --color-whitesecondary: #FFFFFF;
}

body {
  background-color: var(--color-blackprimary);
}

.bg-blur-movil {
  background-image: url(../../public/images/bg-blur-movil.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}