@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #27AE60;
  --color-blackprimary: #161513;
  --color-blacksecondary: #1C1C22;
  --color-whiteprimary: #F0F2F5;
  --color-whitesecondary: #FFFFFF;
}

body {
  background-color: var(--color-blackprimary);
}

.bg-blur-movil {
  background-image: url(../../public/images/bg-blur-movil.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1024px){
  .bg-blur-movil {
    background: none;
  }
}

@media (min-width: 1024px){
  .banner-home-desktop {
    background-image: url(../../public/images/banner-home-desktop.webp);    
    background-repeat: no-repeat;
    height: 450px;
    background-size: contain;
    background-position: 130% 50%;
  }
}

@media (min-width: 1440px){
  .banner-home-desktop {
    background-image: url(../../public/images/banner-home-desktop.webp);    
    background-repeat: no-repeat;
    height: 550px;
    background-size: contain;
    background-position: 150% 50%;
  }
}

.bg_blur_skills {
  background-image: url(../../public/images/bg-blur-skills-movil.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

@media (min-width: 768px){
  .bg_blur_skills {
    background-image: url(../../public/images/bg-blur-skills-desktop.png);
    background-size: 80%;
  }
}

@media (min-width: 1024px){
  .bg_blur_skills {
    background-size: 66%;
  }
}

@media (min-width: 1440px){
  .bg_blur_skills {
    background-size: 50%;
  }
}

/* Animaciones */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  opacity: 0;
  animation: fadeInUp 0.7s ease-in-out;
  animation-fill-mode: forwards;
}